
.table-results th {
	text-align: center;
} 

.table-results tbody td:first-of-type {
	text-align: left;
}

.table-results tbody td:nth-of-type(+2) {
	text-align: center;
}

.table-results tbody td:last-of-type {
	text-align: right;
}
